put your name, etc here

#  Mariam Valladares

# Lecture 1.2

Thursday Aug 29th, 2024

Lab 1.2 is due Tuesday Sep, 3rd

Lecture Agenda:
* debriefing on first class and homework, how's it going?
* logistics of github, downloading this Lab 1.2 notebook
* commenting and markup in notebooks
* workflow for the class

In general, we will do warmup exercises and lab exercises in a jupyter notebook. For most classes, you will download the notebook from github, open it on your local computer, and then upload your completed work back on github in your folder. Then in the assignment tab in Moodle, submit a url link to the completed lab, along with a screenshot of your completed score for the chapter(s) assigned in datacamp.

In general, Tuesday labs are due Friday by midnight and Thursday labs are due the following Tuesday by midnight. This will give you a chance to ask questions in the next class if you get stuck on something. Note the first lab (1.1) was due early so you are set up for this lab. If you are stuck on anything, let me know, and get help from your classmates.

In [ ]:
# here is an example of code commenting. The # symbol means everything on this line will be ignored

Here is an example of markdown text. Because this cell is in markdown mode it will also be ignored by the python shell

## Preliminaries

In our class github site, create a folder for yourself where you will submit your jupyter notebooks. The easiest way to do this is to create a new file that is a placeholder document in the new folder. You can delete it later.

## Warmup exercises

As you are doing these exercises, get familiar with jupyter notebook commands 
https://towardsdatascience.com/jypyter-notebook-shortcuts-bf0101a98330

and markdown text https://medium.com/@ingeh/markdown-for-jupyter-notebooks-cheatsheet-386c05aeebed

These exercises are based on what you have learned previously. Feel free to go look at what you did in datacamp to figure out how to answer them.

**W.1** Define and assign values to three variables of the three types we learned about Monday: integer, floating point, string and boolian. 

Note you can add more cells below by pressing the + button above or typing [esc] to command mode, then [b] to enter a cell below, or [a] to enter a cell above. See the link above for more commands

In [1]:
#Define variables
variable1 = 5.2 
variable2 = 100
variable3 = "Hello"
variable4 = True

**W.2** Print out the value and check the type of each variable

In [2]:
# See value of float variable
variable1

5.2

In [3]:
type(variable1)

float

In [10]:
# See value of integer variable
variable2

100

In [4]:
type(variable2)

int

In [11]:
# See value of string variable
variable3

'Hello'

In [6]:
type(variable3)

str

In [41]:
# See value of bool variable
variable4

True

In [7]:
type(variable4)

bool

**W.3** Create a new variable that saves the value of the float variable as a string. Print it out

In [10]:
#Create new variable and assigning a string value
new_variable = str(variable1)

In [11]:
new_variable

'5.2'

In [12]:
#Print the type of the new variable
type(new_variable)

str

**W.4** Using multiplication of a variable, print out the text "Bueno Bueno Bueno Bueno Bueno" (Shoutout to Monsieur Perin√© https://youtu.be/JGL-eQAAxGs see 10:45)

In [13]:
#Define the variable
muy_bueno = "Bueno "

In [14]:
#Multiple str type variable by a number results in attaching multiple  strings.
muy_bueno * 5

'Bueno Bueno Bueno Bueno Bueno '

**W.5** Do the same thing using addtion

In [15]:
muy_bueno + muy_bueno + muy_bueno + muy_bueno + muy_bueno

'Bueno Bueno Bueno Bueno Bueno '

**W.6** If you add an int and a float, what is the resulting variable type? Demonstrate

**answer 6** The resulting variable type of adding a float and an integer is float variable as follows:

In [16]:
#Define variables
x = 1
y = 1.5

In [17]:
#Verify type of the integer variable
type(x)

int

In [18]:
#Verify type of the float variable
type(y)

float

In [19]:
#Add both
z = x + y

In [20]:
#Resulting variable is a float
type(z)

float

**W.7** Can you convert a Boolian to an interger type variable? If so, what is the resulting value? What happens if you convert a float to an int?

**answer 7.1** Yes, you can convert a Boolian to an integer. The resulting value will be a number, 1 for True and 0 for False. 
**answer 7.2** In addition, when I converted a float to integer the resulting integer value was a round number.

In [42]:
# convert a Boolian to int 
# in the case of True it output value is a 1
int(True)

1

In [46]:
# in the case of False the result value is a zero
int(False)

0

In [45]:
#Converting a float value to integer, the resulted value is round to integer.
int(2.6)

2

# Lab 1.2

## Lab Exercises

**E.1** Complete Ch 2 of Introduction to Python in datacamp.

**E.2** Below you will spend time practicing what you have learned in Ch 2. Use a comination of code, code commenting, and markdown text to take notes. Make sure you investigate how python syntax works and understand what you are doing, and what went wrong if you have any issues. You can refer to this document later if you need to review, so give future you lots of commenting to be helpful.

**E.2.1** Let's work on lists, indexing and printing out elements of lists.

We are going to calculate the BMI of five family members (or friends/colleaues if you have a small family, or famous people/politicians/atheletes if you really don't like talking to people, they just have to be adults and you need their data). Make intellegently named lists for the first name, last name, height, weight and age of each person. So, five lists in total.

**answer 2.1** Creating five list for family members that include their first names, last names (surnames), height (in inches), weight (in pounds), and age.

In [22]:
firstname = ["Miriam", "David", "Nicolle", "Chris", "Maria"]
surname = ["Rivera", "Valeriano", "Castellanos", "Valladares", "Martinez"]
height = [61, 64, 67, 68, 66]
weight = [160, 170, 180, 175, 136]
age = [59, 62, 33, 37, 32]

**E.2.2** Now create a new list that calculates the BMI of each person using the lists you created before

**answer 2.2** Calculating the BMI using the formula  BMI = (weight(lb)*703)/(height(in)**2)

In [23]:
BMI = [(weight[0]*703/(height[0])**2),(weight[1]*703/(height[1])**2),(weight[2]*703/(height[2])**2), (weight[3]*703/(height[3])**2), (weight[4]*703/(height[4])**2)]

In [24]:
#Print out the new BMI list
BMI

[30.228433216877182,
 29.17724609375,
 28.188906215192695,
 26.60575259515571,
 21.948576675849402]

**E.2.3** Look up the weight classification of each person based on their BMI (what's a good source for this, who do you trust?). Create a new list with this information for each person. (Don't judge, we live in Louisiana, which is not known for health food.)

**answer 2.3** Following the Center for Disease Control and Prevention BMI categories (https://www.cdc.gov/bmi/adult-calculator/bmi-categories.html)

In [25]:
#Assign BMI categories based on CDCP 
BMI_cat = ["Obesity", "Overweight", "Overweight", "Overweight", "Healthy Weight"]

**E.2.3** Let's practice some print statements and iterate manually through the people on your lists.

For each person, print out something like: "First_name last_name, age xx, has a height of xx units and weight of xx units, giving them a body mass index (BMI) of xx, making them yy" where yy is if they are normal, obese, etc.

In [27]:
# BMI interpretation statement
print(firstname[0], surname[0], ", age", age[0], ", has a height of", height[0],"inches and a weight of", weight[0] , "pounds",", giving them a body mass index (BMI) of", BMI[0], "making them fall into the category of", BMI_cat[0],".", firstname[1], surname[1], ",age", age[1], ", has a height of", height[1], "inches and a weight of", weight[1] , "pounds", ", giving them a body mass index (BMI) of", BMI[1], "making them fall into the category of", BMI_cat[1],"." , firstname[2], surname[2], ", age", age[2], ", has a height of", height[2], "inches and a weight of", weight[2] , "pounds", ", giving them a body mass index (BMI) of", BMI[2], "making them fall into the category of", BMI_cat[2],"." , firstname[3], surname[3], ", age", age[3], ", has a height of", height[3], "inches and a weight of", weight[3] , "pounds", ", giving them a body mass index (BMI) of", BMI[3], "making them fall into the category of", BMI_cat[3],".", firstname[4], surname[4], ", age", age[4], ", has a height of", height[4], "inches and a weight of", weight[4] , "pounds", ", giving them a body mass index (BMI) of", BMI[4], "making them fall into the category of", BMI_cat[4],"." "According to the Center for Disease Control and Prevention BMI values less than 18.5 represent underweight, between 18.5 and 25 are considered healthy weights, between 25 and less than 30 overweight, and above 30 are classified as obesity.")

Miriam Rivera , age 59 , has a height of 61 inches and a weight of 160 pounds , giving them a body mass index (BMI) of 30.228433216877182 making them fall into the category of Obesity . David Valeriano ,age 62 , has a height of 64 inches and a weight of 170 pounds , giving them a body mass index (BMI) of 29.17724609375 making them fall into the category of Overweight . Nicolle Castellanos , age 33 , has a height of 67 inches and a weight of 180 pounds , giving them a body mass index (BMI) of 28.188906215192695 making them fall into the category of Overweight . Chris Valladares , age 37 , has a height of 68 inches and a weight of 175 pounds , giving them a body mass index (BMI) of 26.60575259515571 making them fall into the category of Overweight . Maria Martinez , age 32 , has a height of 66 inches and a weight of 136 pounds , giving them a body mass index (BMI) of 21.948576675849402 making them fall into the category of Healthy Weight .According to the Center for Disease Control and Prevention BMI values less than 18.5 represent underweight, between 18.5 and 25 are considered healthy weights, between 25 and less than 30 overweight, and above 30 are classified as obesity.

**E.2.4** Now add/append your information to each of the lists, and do the same print statement for you. Make a resolution to eat more veggies.

In [28]:
# Append my information to each list
firstname_2 = firstname + ["Mariam"]
surname_2 = surname + ["Valladares"]
height_2 = height + [67]
weight_2 = weight + [137]
age_2 = age + [32]

In [29]:
#Calculating my BMI
BMI_2 = BMI + [(weight_2[5]*703/(height_2[5])**2)]

In [30]:
print(BMI_2)

[30.228433216877182, 29.17724609375, 28.188906215192695, 26.60575259515571, 21.948576675849402, 21.454889730452216]

In [31]:
#BMI Category
BMI_cat_2 = BMI_cat + ["Healthy weight"]

In [32]:
#print a statement 
print(firstname_2[5], surname_2[5], ", age", age_2[5], ", has a height of", height_2[5], "inches", "and a weight of", weight_2[5], "pounds" ,", giving them a body mass index (BMI) of", BMI_2[5], "making them fall into the category of", BMI_cat_2[5],".", "According to the Center for Disease Control and Prevention BMI values less than 18.5 represent underweight, between 18.5 and 25 are considered healthy weights, between 25 and less than 30 overweight, and above 30 are classified as obesity. Despite Mariam is healthy is always good to include more veggies in her diet.")

Mariam Valladares , age 32 , has a height of 67 inches and a weight of 137 pounds , giving them a body mass index (BMI) of 21.454889730452216 making them fall into the category of Healthy weight . According to the Center for Disease Control and Prevention BMI values less than 18.5 represent underweight, between 18.5 and 25 are considered healthy weights, between 25 and less than 30 overweight, and above 30 are classified as obesity. Despite Mariam is healthy is always good to include more veggies in her diet.

When you are done with your lab, upload this document to your github folder on the class site. Then submit a url link to the completed lab, along with a screenshot of your completed Ch 2 score in datacamp, to the assignment tab in Moodle.

# Scratch

In [5]:
# this is an area of the notebook you can mess around and test things out, if you don't want to put it above